In [1]:
import csv
import pandas as pd

In [11]:
with open("employee_birthday.csv") as csv_file:
    csv_reader = csv.reader(csv_file, delimiter = ',' )
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print(f'column names are {",".join(row)}')
            line_count += 1
        
        else:
            print(f'\t{row[0]} works in the {row[1]} department and was born in {row[3]}. ')
            line_count += 1
        print(f' processed {line_count} line.')

column names are name,department,birthday month
 processed 1 line.

IndexError: list index out of range

In [18]:
df = pd.read_csv('hrdata.csv', index_col='Name', parse_dates=["Hire Date"])

In [15]:
print(df)

               Hire Date   Salary  Sick Days remaining
Name
Graham Chapman  03/15/14  50000.0                   10
John Cleese     06/01/15  65000.0                    8
Eric Idle       05/12/14  45000.0                   10
Terry Jones     11/01/13  70000.0                    3
Terry Gilliam   08/12/14  48000.0                    7
Michael Palin   05/23/13  66000.0                    8

In [19]:
df.loc['Cookie Cat']=['2016.04.03', 20000, 0 ]
print(df)

                          Hire Date   Salary  Sick Days remaining
Name
Graham Chapman  2014-03-15 00:00:00  50000.0                   10
John Cleese     2015-06-01 00:00:00  65000.0                    8
Eric Idle       2014-05-12 00:00:00  45000.0                   10
Terry Jones     2013-11-01 00:00:00  70000.0                    3
Terry Gilliam   2014-08-12 00:00:00  48000.0                    7
Michael Palin   2013-05-23 00:00:00  66000.0                    8
Cookie Cat               2016.04.03  20000.0                    0

In [21]:
df.to_csv('hrdata_modified')